@tailwind base;
@tailwind components;
@tailwind utilities;

.grad {
  filter: blur(10px);
}

html,
body,
#root,
canvas {
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
}

